$searchBackground: rgb(242, 244, 248);
$titleColor: rgb(36, 36, 36);
$modalBackground: rgb(255, 255, 255);
$modalFormAfter: rgb(241, 241, 241);
$modalFormAccent: rgb(255, 124, 126);
$modalForm: rgb(229, 229, 229);
$modalFormBcg: rgb(255, 255, 255);
$btnActive: rgb(24, 144, 255);
$textCardColor: rgb(174, 174, 174);
$cardBcg: rgb(242, 244, 248);
$hoverColor: rgb(170, 214, 255);
$weatherDayOfWeekColor: rgb(206, 202, 213);
